$color_1: rgba(255, 255, 255, 0.87);
$background-color_1: rgb(22, 31, 46);
$background-color_2: rgb(70, 70, 70);
$background-color_3: rgb(45, 45, 45);

:root {
	color: $color_1;
	background-color: $background-color_1;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.display-div {
	display: flex;
	gap: 20px;
	justify-content: center;
	padding-top: 10px;
}
.default-side-div {
	height: 600px;
	width: 300px;
	background-color: $background-color_2;
	border-radius: 15px;
}
.inner-div {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 300px;
	width: 300px;
	background-color: $background-color_3;
	border-radius: 15px;
}
.drag-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-style: dashed;
    border-color: $background-color_2;
    border-width: 3px;
    &:hover {
        background-color: $background-color_2;
        .arrow-icon {
            color: $background-color_3;
        }
    }
}
.arrow-icon {
    color: $background-color_2;
    font-size: 55px;
}
.default-div {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 1000px;
	width: 600px;
	background-color: $background-color_3;
	border-radius: 15px;
}
input {
    border: none;
    padding: 0 0 300px 0;
}
